#background {
	background-color: #abc;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
}

#container {
	height: 100%;
	width: 100%;
	z-index: 0;
}

#board-canvas {
	margin: 0px;
	padding: 0px;
    position: absolute;
    z-index: 1;
}

#board-table {
	left: -20px;
	margin: 0px;
	padding: 0px;
    position: relative;
    top: -20px;
    z-index: 2;
}

.point {
	width:40px;
	height:40px;
	background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #000000 100%);
	background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #000000 100%);
	background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #000000 100%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #000000));
	background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #000000 100%);
	background-image: linear-gradient(to top left, #FFFFFF 0%, #000000 100%);
}

#board-container {
	margin: 50px auto;
	width: 562px;
}

.asd {
	width:40px;
	height:40px;
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #00A3EF 100%);
}