#background {
	background-image: -ms-linear-gradient(top left, #2DEFFC 0%, #02043B 100%);
	background-image: -moz-linear-gradient(top left, #2DEFFC 0%, #02043B 100%);
	background-image: -o-linear-gradient(top left, #2DEFFC 0%, #02043B 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #2DEFFC), color-stop(1, #02043B));
	background-image: -webkit-linear-gradient(top left, #2DEFFC 0%, #02043B 100%);
	background-image: linear-gradient(to bottom right, #2DEFFC 0%, #02043B 100%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
}

#container {
	height: 100%;
	width: 100%;
	z-index: 0;
}

#board-canvas {
	margin: 0px;
	padding: 0px;
    position: absolute;
    z-index: 1;
}

#board-table {
	left: -19px;
	margin: 0px;
	padding: 0px;
    position: relative;
    top: -19px;
    z-index: 2;
}

#board-container {
	float: left;
	height: 562px;
	position: relative;
	top: 19px;
	width: 562px;
}

#menu {
	background-image: url(blackboard-backgrounds-wallpapers.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 30px;
	height: 600px;
	margin: 50px auto;
	width: 1000px;
}

#menu-leftcontainer,
#menu-rightcontainer {
	float: left;
	height: 600px;
	width: 219px;
}

#label-menu {}

#label-newgame {}

#label-white {
	color: #fff;
}

#label-whitescore {
	color: #fff;
	margin-top: 320px;
}

.label {
	cursor: default;
	display:block;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	height: 50px;
	margin: 20px auto;
	text-align: center;
	text-shadow: 0px 0px 5px #808080;
	user-select: none; /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	width: 100%;
}

.point {
	width:40px;
	height:40px;
}

.stone-empty {}

.stone-black {
	background-image: -ms-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
	background-image: -moz-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
	background-image: -o-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
	background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #808080), color-stop(1, #000));
	background-image: -webkit-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
	background-image: radial-gradient(circle farthest-corner at left top, #808080 0%, #000 100%);
	border-radius: 36px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	box-shadow:         inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	-moz-box-shadow:    inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	-webkit-box-shadow: inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	height: 36px;
	margin: 2px 2px;
	position: absolute;
	width: 36px;
}

.stone-white {
	background-image: -ms-radial-gradient(left top, circle farthest-corner, #fff 0%, #808080 100%);
	background-image: -moz-radial-gradient(left top, circle farthest-corner, #fff 0%, #808080 100%);
	background-image: -o-radial-gradient(left top, circle farthest-corner, #fff 0%, #808080 100%);
	background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #fff), color-stop(1, #808080));
	background-image: -webkit-radial-gradient(left top, circle farthest-corner, #fff 0%, #808080 100%);
	background-image: radial-gradient(circle farthest-corner at left top, #fff 0%, #808080 100%);
	border-radius: 			36px;
	-moz-border-radius: 	36px;
	-webkit-border-radius: 	36px;
	box-shadow:         inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	-moz-box-shadow:    inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	-webkit-box-shadow: inset 0 0 8px #808080, 0px 0px 10px 1px #000;
	height: 36px;
	margin: 2px 2px;
	position: absolute;
	width: 36px;
}
